
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
@section head{
    <link href="~/Content/CSS/Style.css" rel="stylesheet" />
}

<h2 class="format3">Home Page</h2>

