
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
@section head{
    <link href="~/Content/CSS/Style.css" rel="stylesheet" />
}
<h2 class="format1">About Us</h2>

